.bodyTimes{
    background: rgb(221,221,221);
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(251,251,251,1) 30%, rgba(247,247,247,1) 70%, rgba(221,221,221,1) 100%);
}
.containerTimes{
    margin: 0px 20% 0px 20%;
    padding: 5% 0px 5% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.containerTimes h1{
    text-align: center;
    width: 500px;
    margin-top: 10%;
    margin-bottom: 3%;
    box-shadow: 1px 5px 5px  rgb(59, 59, 59);
    border-radius: 5px;
}
.ListaTimes li{
    margin-bottom: 1%;
}
@media (max-width:634px)
{
    .containerTimes h1{
        text-align: center;
        width: 350px;
        margin-top: 20%;
        font-size: 1.4rem;       
    }  
}
@media (max-width:486px){
    .containerTimes h1{
        text-align: center;
        width: 200px;
        margin-top: 25%;
        font-size: 1rem;       
    }  
}