/*navbar*/
.navbar{
    background: rgb(1, 109, 172);
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.navbar-toggler{
    background-color: white !important;
}
.navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.nav-item{
    border: none; 
    border-radius: 5px;
    width: 20%;
    margin: 5px;
}
.SemResponsiveFormNav{
    display: flex;
}
.ComResponsiveFormNav{
    display: none;
}
.nav-item:hover{
    background: rgb(49, 49, 49);
}
.nav-link{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: bold !important; 
    color: white !important;
}
.nav-link:hover{
    color: #dddddd !important;
}
.BgButton{
    margin-top: 5px !important;
    border: solid 1px rgb(45, 42, 42) !important;
    color: black !important;  
}
.BgButton:hover{
    background-color: black !important;
    color: white !important;
}
.bodyTodo{
    margin-top:7%;
    background: rgb(221,221,221);
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(251,251,251,1) 30%, rgba(247,247,247,1) 70%, rgba(221,221,221,1) 100%);
}
/*Apresentacao*/

.containerApresentacao{
    margin: 0px 16.5% 0px 16.5%;
    padding: 5% 0px 5% 0px;
    display: flex;
    
}
.conteudoApresentacaoText{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btnConteudoApresentacao{
    border: none;
    border: solid 1px #dddddd;
    font-weight: bold;
    color: #787878;
    width: 20%;
}
.btnConteudoApresentacao:hover{
    background-color: black;
    color: white;
    
}
.conteudoApresentacaoImage{
    width: 50%;
}
/*card*/
#BGcontainerCard{
    border-top: 1px solid #dddddd;
}
.containerCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}
.card{
    margin: 1%;
    background-color: #dddddd !important;
}
.card-img-top{
    border-radius: 5px;
}
.BtnCardEdit{
    background-color: #787878 !important;
    border: none !important;
    width: 100%;
}
.BtnCardEdit:hover
{
    background-color: rgb(13, 27, 151) !important;
    color: white !important;
}
/*caroussel*/

#carouselExampleIndicators{
    margin: 0px 16.5% 0px 16.5%;
}
.CarouselImageAlt{
    height: 40vh;
}

 /*Premiação*/
 #BGcontainerPremiacao{
    margin-top:2%;
 }
 .ContainerPremiacao{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 }
 .ContainerPremiacao div {
    width: 25%;
 }
 .ContainerPremiacao ul {
    margin: 0;
    padding: 0;
 }
 .ContainerPremiacao li{
    border: solid 1px #787878;
    text-align: center;
    list-style-type: none;
 }
 .TitleLi{
    background-color:#dddddd ;
 }

/*maps*/
.maps{
    display: flex;
    justify-content: center;
    margin: 3%
}

/*footer */
.main-title{
    color: #fdfdfd;
}
  #contact-area {
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    text-align: center;
    background: rgb(1, 109, 172);

  }
  
  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box em {
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 254, 254);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 16px;
  }
  .dados{color: #dddddd;}
  
  .contact-tile {
    font-weight: bold;
    color: #f6f6ff;
  }
  #copy-area{
    background: rgb(1, 109, 172);
    text-align: center;
  }
  .copyright{
    color: white;

  }
  



@media (max-width:991px){
    /*Navbar*/
    .navbar{
        padding-left: 0!important;
        padding-right: 0 !important;
    }
    .nav-item{
        width: 35%;
    }
    .form-control{
        width: 200px !important;
    }
    .SemResponsiveFormNav
    {
         display:none !important;
    }
    .ComResponsiveFormNav
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
    }
    .BgButton{
        margin-top: 5px !important;
        border: solid 1px rgb(45, 42, 42) !important;
        color: black !important;  
    }
    .BgButton:hover{
        background-color: black !important;
        color: white !important;
    }
    

    /* premiação*/
    .ContainerPremiacao{
        flex-direction: column;
        align-items: center;
    }
    .ContainerPremiacao div{
        width: 40%;
    }
    /* carousel*/
    .CarouselImageAlt{
        height: 35vh;
    }
    #carouselExampleIndicators{
        margin: 0px 10% 0px 10%;
    }   
}
@media (max-width:678px){
    #carouselExampleIndicators{
        margin: 0px 1% 0px 1%;
    } 
    .bodyTodo{ margin-top: 11%;}
}
@media (max-width:1144px){
    
    /*Aprensetacao*/
    .containerApresentacao{
        flex-direction: column-reverse;
    }
    .conteudoApresentacaoText{
        width: 100%;
        text-align: center;
    }
    .conteudoApresentacaoImage{
        width: 100%;
    }
}